{% extends 'partials/base.html' %}
{% load static %}
{% block html %}data-layout="vertical" data-layout-style="" data-layout-position="fixed"
    data-topbar="light"{% endblock html %}
{% block title %}選單群組管理{% endblock title %}

{% block extra_css %}
    <!--datatable css-->
    <link href="{% static 'libs/datatable/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'libs/datatable/css/dataTables.dataTables.css' %}" rel="stylesheet"/>

    <!--datatable button css-->
    <link href="{% static 'libs/datatable/css/buttons.dataTables.min.css' %}" rel="stylesheet"/>

    <!--datatable responsive css-->
    <link href="{% static 'libs/datatable/css/responsive.bootstrap.min.css' %}" rel="stylesheet"/>

    <!-- SweetAlert2 css-->
    <link href="{% static 'libs/sweetalert2/dist/sweetalert2.min.css' %}" rel="stylesheet">

    <!-- icon css -->
    <link href="{% static 'iconfonts/fontawesome/fontawesome-all.min.css' %}" rel="stylesheet" type="text/css"/>

    <!-- select2 -->
    <link href="{% static 'libs/select2/dist/select2.min.css' %}" rel="stylesheet" type="text/css"/>


{% endblock extra_css %}

{% block content %}
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                {% block pagetitle %}
                    {% include "partials/page-title.html" with pagetitle="後台管理" title="選單群組管理" %}
                {% endblock pagetitle %}
                <!-- Row -->
                <div class="row row-sm">
                    <div class="col-lg-12">
                        <div class="card custom-card">
                            <div class="card-body">
                                <div>
                                    <button type="button" class="btn btn-primary" id="new" data-bs-toggle="modal"
                                            data-bs-target="#NewAndEditModal" title="新增"><i class="ri-add-line"></i>
                                        新增
                                    </button>
                                    &nbsp
                                    <p></p>
                                </div>
                                <div class="table-responsive ">
                                    <table id="datatable"
                                           class="table table-bordered dt-responsive nowrap table-striped align-middle hover"
                                           style="width:100%">
                                        <thead>
                                        <tr>
                                            <th scope="col">建立日期</th>
                                            <th scope="col">群組名稱</th>
                                            <th scope="col">動作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Row -->

                <!-- NEW and EDIT Modal -->
                <div class="modal fade" id="NewAndEditModal" role="dialog">
                    {% csrf_token %}
                    <div class="modal-dialog modal-lg">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <form class="form-group" role="form">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="modal_title"></h3>
                                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button">
                                    </button>
                                </div>

                                <div class="modal-body">
                                    <div class="row g-3">
                                        <div class="col-md-12 form-group">
                                            <label for="menu_group">選單群組名稱</label><span class="text-danger ml-1"
                                                                                              style="color:red"> *</span>
                                            <input type="text" class="form-control" id="menu_group" name="menu_group"
                                                   placeholder="選單群組名稱" required>
                                        </div>
                                        <div class="col-md-6">
                                            <h5>待挑選的選單</h5>
                                            <div class="table-responsive">
                                                <table id="left-table" class="table table-bordered">
                                                    <thead>
                                                    <tr>
                                                        <th>主選單名稱</th>
                                                        <th>次選單名稱</th>
                                                        <th>動作</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for menu in qsMenu %}
                                                        <tr data-id="{{ menu.id }}"
                                                            data-sort1="{{ menu.menu_1st_sort }}"
                                                            data-sort2="{{ menu.menu_2st_sort }}">
                                                            <td>{{ menu.menu_1st }}</td>
                                                            <td>{{ menu.menu_2st }}</td>
                                                            <td>
                                                                <button type="button"
                                                                        class="btn btn-sm btn-primary move-right">移動
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <h5>已挑選的選單</h5>
                                            <div class="table-responsive">
                                                <table id="right-table" class="table table-bordered">
                                                    <thead>
                                                    <tr data-id="{{ menu.id }}" data-sort1="{{ menu.menu_1st_sort }}"
                                                        data-sort2="{{ menu.menu_2st_sort }}">
                                                        <th>主選單名稱</th>
                                                        <th>次選單名稱</th>
                                                        <th>動作</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <!-- Initially empty -->
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" id="type" name="type" value="">
                                    <div class="modal-footer">
                                        <button type="submit" class="btn ripple btn-primary"><i class="bx bx-save"></i>
                                            存檔
                                        </button>
                                        <button class="btn ripple btn-light" data-bs-dismiss="modal" type="button">
                                            <i
                                                    class="ri-close-line"></i> 取消
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Delete Modal -->
                <div class="modal fade" id="DeleteModal" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title"><i class="fa fa-trash-alt modal-icon text-danger"> 刪除</i></h4>
                                <small class="modal-subtitle"></small>
                                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                                        type="button"></button>
                            </div>
                            <div class="modal-body">
                                <p class="lead">你確認要刪除: <strong id="delid"></strong>?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn ripple btn-danger" data-dismiss="modal" id="delete"><i
                                        class="bx bx-trash"></i> 刪除
                                </button>
                                <button type="button" class="btn ripple btn-light" data-bs-dismiss="modal"><i
                                        class="ri-close-line"></i> 取消
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Page-content -->
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
    <!-- jquery -->
    <script src="{% static 'libs/jquery/jquery-3.6.0.min.js' %}"></script>

    <!--  Datatable js -->
    <script src="{% static 'libs/datatable/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'libs/datatable/js/dataTables.bootstrap5.min.js' %}"></script>
    <script src="{% static 'libs/datatable/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'libs/datatable/js/dataTables.responsive.min.js' %}"></script>

    <!-- sweetalert2 js-->
    <script src="{% static 'libs/sweetalert2/dist/sweetalert2.all.min.js' %}"></script>
    <script src="{% static 'js/inits/sweetalert2.init.js' %}"></script>

    <!--select2 cdn-->
    <script src="{% static 'libs/select2/dist/select2.min.js' %}"></script>


    <!-- datatable init -->
    <script>
        let baseUrl = '/commons/menugroup/';

        let table = $('#datatable').DataTable({
            'processing': true,
            'serverSide': true,
            'language': {url: '{% static 'libs/datatable/zh-HANT.json' %}'},
            'ajax': {
                url: baseUrl,
                type: 'GET',
            },
            'columns': [
                {
                    "data": "create_date",
                    "render": function (data) {
                        return new Date(data).toLocaleDateString('zh-US')
                    }
                },
                {"data": "menu_group"},
                {
                    "data": null,
                    "orderable": false,
                    "defaultContent":
                        '<div class="dropdown d-inline-block">' +
                        '<button class="btn btn-soft-secondary btn-sm dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">' +
                        '<i class="ri-more-fill align-middle"></i> ' +
                        '</button> ' +
                        '<ul class="dropdown-menu dropdown-menu-end">' +
                        '<li class="dropdown-item edit-item-btn" data-bs-toggle="modal" data-bs-target="#NewAndEditModal" title="修改"><i class="ri-pencil-fill align-bottom me-2 text-muted"></i> 修改</li> ' +
                        '<li class="dropdown-item remove-item-btn" data-bs-toggle="modal" data-bs-target="#DeleteModal" title="刪除"><i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i> 刪除</li> ' +
                        '</ul>' +
                        '</div>'
                }
            ],
        });
    </script>

    <!-- CRUD -->
    <script>
        let id = 0;
        const left_table_html = $('#left-table').html()
        const right_table_html = $('#right-table').html()

        $(document).ready(function () {
            function sortTable(table) {
                let rows = $(table).find("tbody tr").get();
                rows.sort(function (a, b) {
                    let sort1 = parseInt($(a).data("sort1")) || 0;
                    let sort2 = parseInt($(b).data("sort1")) || 0;
                    return sort1 - sort2 || $(a).data("sort2") - $(b).data("sort2");
                });
                $.each(rows, function (index, row) {
                    $(table).children("tbody").append(row);
                });
            }

            // Move item to the right
            $('#left-table').on('click', '.move-right', function () {
                let row = $(this).closest('tr');
                row.find('.move-right').removeClass('move-right').addClass('move-left').text('移回');
                $('#right-table tbody').append(row);
                sortTable('#right-table');
            });

            // Move item to the left
            $('#right-table').on('click', '.move-left', function () {
                let row = $(this).closest('tr');
                row.find('.move-left').removeClass('move-left').addClass('move-right').text('移動');
                $('#left-table tbody').append(row);
                sortTable('#left-table');
            });


            // 點選修改或刪除
            $('#datatable tbody').on('click', '.edit-item-btn, .remove-item-btn', function () {
                // 還原左右選單
                $('#left-table').html(left_table_html)
                $('#right-table').html(right_table_html)

                let data = table.row($(this).parents('tr')).data();
                if (data === undefined) {
                    let datanum = table.row($(this))['0'][0];
                    data = table.row($(this).parents('tr')).context[0].aoData[datanum]._aData;
                }
                id = data['id'];

                if ($(this).hasClass('edit-item-btn')) {
                    // 修改
                    $('#menu_group').val(data['menu_group']);

                    $.each(data['menu_id'], function (index, menu_id) {
                        // 取得左側選單列表
                        let row = $('#left-table tbody').find(`tr[data-id=${menu_id}]`);

                        if (row.length) {
                            row.find('.move-right')
                                .removeClass('move-right')
                                .addClass('move-left')
                                .text('移回');
                            $('#right-table tbody').append(row);
                            sortTable('#left-table');
                        }
                    })
                    $('#type').val('EDIT');
                    $('#modal_title').html('<i class="fas fa-edit modal-icon text-info"> 修改</i>');
                } else {
                    // 刪除
                    $('#delid').text(data['menu_group']);
                }
            });

            // 新增或修改存檔
            $('form').on('submit', function (e) {
                e.preventDefault();
                let url = baseUrl;
                let method = $('#type').val() === 'NEW' ? 'POST' : 'PUT';
                if (method === 'PUT') url += id + '/';

                // Collect selected menu IDs
                let selectedMenus = {};
                let index = 0;

                $('#right-table tbody tr').each(function () {
                    selectedMenus[index] = $(this).data('id');
                    index++;
                });

                // Validation
                if (selectedMenus.length === 0) {
                    Swal.fire('錯誤', '請選擇至少一個選單', 'error');
                    return;
                }

                $.ajax({
                    headers: {"X-CSRFToken": '{{ csrf_token }}'},
                    url: url,
                    method: method,
                    contentType: 'application/json', // 指定內容類型為 JSON
                    data: JSON.stringify({
                        create_user: '{{ request.user.username }}',
                        last_modified_user: '{{ request.user.username }}',
                        menu_group: $('#menu_group').val(),
                        menu_id: selectedMenus
                    }), // 將資料轉為 JSON 字串
                    success: function () {
                        table.ajax.reload(null, false);
                        $("#NewAndEditModal").modal('hide');
                        Toast.fire({icon: 'success', title: '存檔成功'});
                    },
                    error: function (jqXHR) {
                        let errorMessage = jqXHR.responseJSON;
                        Toast.fire({icon: 'error', title: errorMessage});
                        console.log(jqXHR);
                    }
                });
            });

            // 刪除
            $('#DeleteModal').on('click', '#delete', function () {
                $.ajax({
                    headers: {"X-CSRFToken": '{{ csrf_token }}'},
                    url: baseUrl + id + '/',
                    method: 'DELETE',
                    success: function () {
                        table.ajax.reload(null, false);
                        $("#DeleteModal").modal('hide');
                        Toast.fire({icon: 'success', title: '刪除成功'});
                    },
                    error: function (jqXHR) {
                        Toast.fire({icon: 'error', title: '刪除失敗'});
                        console.log(jqXHR);
                    }
                });
            });

            // 新增
            $('#new').on('click', function () {
                // 還原左右選單
                $('#left-table').html(left_table_html)
                $('#right-table').html(right_table_html)
                $('#menu_group').val('');
                $('#type').val('NEW');
                $('#modal_title').html('<i class="fa fa-plus modal-icon text-primary"> 新增</i>');
            });
        });
    </script>

{% endblock extra_js %}